# Node
node_modules/**/*
.expo/*
.jest/*
package-lock.json
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
yarn-error.log
.DS_Store

# Xcode
!**/*.xcodeproj
!**/*.pbxproj
!**/*.xcworkspacedata
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Gradle
android/app/bin/
android/nearbymessaging/bin/
android/app/build/*
android/app/gradle/
android/app/gradlew
android/app/gradlew.bat
android/build/

# Android
.idea
.gradle
local.properties
*.iml
